<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/1b8a27bdd5.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .shadow {
            box-shadow: 3px 3px 1px 6px gold;
        }

       
     .row.vdivide [class*='col-']:not(:last-child):after {
      background: #e0e0e0;
      width: 1px;
      content: "";
      display:block;
      position: absolute;
      top:5%;
      bottom: 0;
      right: 0;
      height: 90%;
    }
    .h3-t-decor{
        color:gold;
        font-style: italic;
    }
    
    .mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td, .mytable>tfoot>tr>th, .mytable>thead>tr>td, .mytable>thead>tr>th {
    padding: 0px;
}
.mytable>tbody>tr>td{
        text-align: left;
    }
   
hr {
    height: 1px;
    background-color: blueviolet;
    padding: 0px;
    margin:0px;
    margin-bottom: 1px;
}
.flex-box {
  display:flex;
  justify-content: flex-end;
}
strong{
    color: red;
}
  
    </style>

    <title>Blife Shwe</title>
</head>

<body>

    <div class="d-flex align-item-center justify-content-center ">
        <div class="container">
         
                <div class="card mt-2">
                    <div class="card-header">
                        Success
                    </div>
                    <div class="card-body">
                     
                      <p class="card-text">Your remittance request has been successfully booked. Please kindly wait 48 hours while we process your request.</p>
                 
                      <button class="btn btn-primary">Continue</button>
                    </div>
                  </div>
           
        </div>
    </div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>



    var d = new Date();
   $('#spExcRateOn').html(`${d.getDate()}/${d.getMonth() + 1}/${d.getFullYear()} ${d.getHours()}:${d.getMinutes()}:${d.getSeconds()}`);
        $('#btnBack').click(function () {
            window.history.back();
        })
        $('#btnContinue').click(function(){          
            window.location.href ="http://localhost:1337/step";
        })

    </script>
</body>

</html>